.fs-header {
  padding: 0px 50px;
}
.dark-header {
  background: #2F3B59;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  height: 80px;
}
