<footer class="main-footer dark-footer  ">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="footer-widget fl-wrap">
                  <h3>About Us</h3>
                  <div class="footer-contacts-widget fl-wrap">
                      <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam. </p>
                      <ul class="footer-contacts fl-wrap">
                          <li><span><i class="fa fa-envelope-o"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                          <li> <span><i class="fa fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                          <li><span><i class="fa fa-phone"></i> Phone :</span><a href="#">+7(111)123456789</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-widget fl-wrap">
                  <h3>Our Last News</h3>
                  <div class="widget-posts fl-wrap">
                      <ul>
                          <li class="clearfix">
                              <a href="#" class="widget-posts-img"><img src="images/all/1.jpg" class="respimg" alt=""></a>
                              <div class="widget-posts-descr">
                                  <a href="#" title="">Vivamus dapibus rutrum</a>
                                  <span class="widget-posts-date"> 21 Mar 09.05 </span>
                              </div>
                          </li>
                          <li class="clearfix">
                              <a href="#" class="widget-posts-img"><img src="images/all/2.jpg" class="respimg" alt=""></a>
                              <div class="widget-posts-descr">
                                  <a href="#" title=""> In hac habitasse platea</a>
                                  <span class="widget-posts-date"> 7 Mar 18.21 </span>
                              </div>
                          </li>
                          <li class="clearfix">
                              <a href="#" class="widget-posts-img"><img src="images/all/3.jpg" class="respimg" alt=""></a>
                              <div class="widget-posts-descr">
                                  <a href="#" title="">Tortor tempor in porta</a>
                                  <span class="widget-posts-date"> 7 Mar 16.42 </span>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-widget fl-wrap">
                  <h3>Our  Twitter</h3>
                  <div id="footer-twiit"><ul><li><div class="user">
<a data-scribe="element:user_link" href="https://twitter.com/EnvatoMarket" aria-label="Envato Market (screen name: EnvatoMarket)" target="_blank"><img data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/655905294988374016/AS0IFuuN_bigger.png" alt="" data-src-1x="https://pbs.twimg.com/profile_images/655905294988374016/AS0IFuuN_normal.png"></a>




<div data-scribe="component:author">
<a data-scribe="element:user_link" href="https://twitter.com/EnvatoMarket" aria-label="Envato Market (screen name: EnvatoMarket)" target="_blank">
<div>
<span>
<span title="Envato Market" data-scribe="element:name">Envato Market</span>

</span>
<span title="@EnvatoMarket" data-scribe="element:screen_name">@EnvatoMarket</span>
</div>
</a>
</div>

</div><p class="tweet">Do you work with video? Help us improve our video offering by taking this quick 2 minute survey. <a href="https://t.co/iHFXedOcLU" data-expanded-url="http://enva.to/cJjBP" target="_blank" title="http://enva.to/cJjBP" data-scribe="element:url"><span>http://</span>enva.to/cJjBP<span>&nbsp;</span></a>
</p><p class="timePosted"><a href="https://twitter.com/EnvatoMarket/status/942674564265455616">Posted on Dec 18, 2017</a></p><p class="interact"><a href="https://twitter.com/intent/tweet?in_reply_to=942674564265455616" class="twitter_reply_icon" target="_blank">Reply</a><a href="https://twitter.com/intent/retweet?tweet_id=942674564265455616" class="twitter_retweet_icon" target="_blank">Retweet</a><a href="https://twitter.com/intent/favorite?tweet_id=942674564265455616" class="twitter_fav_icon" target="_blank">Favorite</a></p></li><li><div class="user">
<a data-scribe="element:user_link" href="https://twitter.com/EnvatoMarket" aria-label="Envato Market (screen name: EnvatoMarket)" target="_blank"><img data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/655905294988374016/AS0IFuuN_bigger.png" alt="" data-src-1x="https://pbs.twimg.com/profile_images/655905294988374016/AS0IFuuN_normal.png"></a>




<div data-scribe="component:author">
<a data-scribe="element:user_link" href="https://twitter.com/EnvatoMarket" aria-label="Envato Market (screen name: EnvatoMarket)" target="_blank">
<div>
<span>
<span title="Envato Market" data-scribe="element:name">Envato Market</span>

</span>
<span title="@EnvatoMarket" data-scribe="element:screen_name">@EnvatoMarket</span>
</div>
</a>
</div>

</div><p class="tweet">Cyber Monday Sale starts now! Check out all the amazing assets you can get for 50% off this week: <a href="https://t.co/5DstKOaT8e" data-expanded-url="http://enva.to/yfz7-" target="_blank" title="http://enva.to/yfz7-" data-scribe="element:url"><span>http://</span>enva.to/yfz7-<span>&nbsp;</span></a> <a href="https://twitter.com/hashtag/envatosale?src=hash" data-scribe="element:hashtag" target="_blank"><span>#</span><span>envatosale</span></a>
</p><p class="timePosted"><a href="https://twitter.com/EnvatoMarket/status/932827172661858304">Posted on Nov 20, 2017</a></p><p class="interact"><a href="https://twitter.com/intent/tweet?in_reply_to=932827172661858304" class="twitter_reply_icon" target="_blank">Reply</a><a href="https://twitter.com/intent/retweet?tweet_id=932827172661858304" class="twitter_retweet_icon" target="_blank">Retweet</a><a href="https://twitter.com/intent/favorite?tweet_id=932827172661858304" class="twitter_fav_icon" target="_blank">Favorite</a></p></li></ul></div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-widget fl-wrap">
                  <h3>Subscribe</h3>
                  <div class="subscribe-widget fl-wrap">
                      <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                      <div class="subcribe-form">
                          <form id="subscribe" novalidate="true">
                              <input class="enteremail" name="EMAIL" id="subscribe-email" placeholder="Email" spellcheck="false" type="text">
                              <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fa fa-rss"></i> Subscribe</button>
                              <label for="subscribe-email" class="subscribe-message"></label>
                          </form>
                      </div>
                  </div>
                  <div class="footer-widget fl-wrap">
                      <div class="footer-menu fl-wrap">
                          <ul>
                              <li><a href="#">Home </a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Listing</a></li>
                              <li><a href="#">Contacts</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="sub-footer fl-wrap">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="about-widget">
                      <img src="images/logo.png" alt="">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="copyright"> © CityBook 2018 .  All rights reserved.</div>
              </div>
              <div class="col-md-4">
                  <div class="footer-social">
                      <ul>
                          <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fa fa-chrome"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
